/[Bb]uild/
/build*/

CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CMakeUserPresets.json
cmake_install.cmake
Makefile

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/
cmake-build-*/

.vs/
*.user
*.suo
*.sln
*.vcxproj
*.filters